﻿@{
    ViewBag.Title = "Little Pixel Box";
}
<!DOCTYPE html>
<html>
<head>
    <title>Little Pixel Box</title>
    <link rel="icon" type="image/png" href="/Content/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap-3.3.5.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/Content/css/font-awesome.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/Content/css/style.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/Content/css/jsKeyboard.css" media="all"/>
</head>

@RenderBody()

</html>