﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Little Pixel Box";
}
<body class="error">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Opps!
                </h1>
                <h2>
                    Something went wrong...
                </h2>
                <h3>
                    Please notify one of our staff or you could just press this neat little button:
                </h3>
                <div class="error-actions">
                    <a href="@Url.RouteUrl(new {Controller = "Home", Action = "Index"})" class="btn btn-primary btn-lg">
                        <i class="fa fa-home"></i>
                        Take Me Home
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="error-details text-center">
                <p>@ViewBag.Code @ViewBag.Status</p>
                <p>@ViewBag.Exception</p>
            </div>
        </div>
    </div>
</div>
</body>