﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="main">
<nav id="topbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse1" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand"><img src="../../Content/img/lpb.png"/></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-th-large fa-2x"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="layout-small" href="#">Small</a>
                        </li>
                        <li>
                            <a id="layout-medium" href="#">Medium</a>
                        </li>
                        <li>
                            <a id="layout-large" href="#">Large</a>
                        </li>
                    </ul>
                </li>
                <li class="hidden-sm hidden-xs">
                    <form id="navbar-search">
                        <div class="input-icon right text-white">
                            <a id="search" href="#"><i class="fa fa-search"></i></a><input id="search-string" type="text" placeholder="Search here..." class="form-control text-white">
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="image-count" href="#">Images: <span>0</span></a>
                </li>
                <li>
                    <a id="print-count" href="#">Print: <span>0</span></a>
                </li>
                <li>
                    <a id="error-count" href="#">Error: <span>0</span></a>
                </li>
                <li>
                    <a id="selected-count" a href="#">Selected: <span>0</span></a>
                </li>
                <li>
                    <a id="reset" href="#"><i class="fa fa-refresh fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <nav id="bottombar" class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li>
                        <a id="email" href="#" data-toggle="modal" data-target=".email-modal" data-dismiss="modal">
                            <i class="fa fa-envelope fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a id="facebook" href="@Url.RouteUrl(new {Controller = "Facebook", Action = "Login"})">
                            <i class="fa fa-facebook-official fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a id="print" a href="#" data-toggle="modal" data-target=".print-modal" data-dismiss="modal">
                            <i class="fa fa-print fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="collage">
</div>

<div id="image-modal" class="modal fade image-modal" tabindex="-1" role="dialog" aria-labelledby="image-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <center>
                    <img id="selectedImage" src="#" class="img-responsive"/>
                </center>
            </div>
            <div class="modal-footer text-center">
                <button id="btnEmail" type="button" class="btn btn-info btn-lg btn-action" data-toggle="modal" data-target=".email-modal" data-dismiss="modal">
                    <i class="fa fa-envelope fa-2x"></i>
                </button>
                <a id="btnFacebook" class="btn btn-primary btn-lg btn-action" href="@Url.RouteUrl(new {Controller = "Facebook", Action = "Login"})">
                    <i class="fa fa-facebook-official fa-2x"></i>
                </a>
                <button id="btnPrint" type="button" class="btn btn-success btn-lg btn-action" data-toggle="modal" data-target=".print-modal" data-dismiss="modal">
                    <i class="fa fa-print fa-2x"></i>
                </button>
                <br/><br/>
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="email-modal" class="modal fade email-modal" tabindex="-1" role="dialog" aria-labelledby="email-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Enter your email address</h2>
            </div>
            <form id="email-form">
                <div class="modal-body">
                    <input id="textEmailAddr" type="text" required="required" class="form-control input-xlg" placeholder="Email Address">
                </div>
                <div class="modal-footer text-center">
                    <div id="keyboard"></div>
                    <button id="btnSendEmail" type="submit" class="btn btn-primary btn-lg hidden">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="print-modal" class="modal fade print-modal" tabindex="-1" role="dialog" aria-labelledby="print-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Number of copies</h2>
            </div>
            <div class="modal-body text-center">
                <button id="btn1" type="submit" class="btn btn-primary btn-lg printCopies" data-dismiss="modal">
                    <h3>1</h3>
                </button>
                <button id="btn2" type="submit" class="btn btn-primary btn-lg printCopies" data-dismiss="modal">
                    <h3>2</h3>
                </button>
                <button id="btn3" type="submit" class="btn btn-primary btn-lg printCopies" data-dismiss="modal">
                    <h3>3</h3>
                </button>
                <button id="btn4" type="submit" class="btn btn-primary btn-lg printCopies" data-dismiss="modal">
                    <h3>4</h3>
                </button>
                <button id="btn5" type="submit" class="btn btn-primary btn-lg printCopies" data-dismiss="modal">
                    <h3>5</h3>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="status-modal" class="modal fade status-modal" tabindex="-1" role="dialog" aria-labelledby="status-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="text-center">
                    <span></span>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/Content/js/jquery-2.1.4.min.js"></script>
<script src="/Content/js/bootstrap-3.3.5.min.js"></script>
<script src="/Content/js/jquery.signalR-2.2.0.min.js"></script>
<script src="/signalr/hubs"></script>
<script src="/Content/js/all.js"></script>
<script src="/Content/js/jsKeyboard.js"></script>
<script>
    $('#keyboard').jkeyboard({
        layout: "english",
        input: $('#textEmailAddr')
    });
</script>
<div id="fb-root">
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
        // initialize the library with your Facebook API key
        FB.init({ appId: '1641672899418745' });

        // fetch the status so that we can log out,  once the login status is fetched, call handleSessionResponse
        FB.getLoginStatus(handleSessionResponse);

        // handle a session response from any of the auth related calls
        function handleSessionResponse(response) {
            if (response.status === 'connected') {
                FB.logout(handleSessionResponse);
            }
        }
    </script>
</div>
</body>