body {
 height: 100%;
 background: url('../img/background.png') no-repeat center center #2D2D30;
 background-attachment: fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 margin: 0;
 overflow: hidden;
 position: relative;
}

.collage {
    position: absolute;
}

.collage img{
    vertical-align: bottom;
}